@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Şehir İçi Gezi</title>
    <link rel="stylesheet" href="~/ui/assets/css/style-starter.css">
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Kaydırma çubuğu stilleri */
        .scrollbar {
            overflow-y: auto;
            max-height: calc(60vh - 100px);
            padding: 10px;
            scrollbar-width: thin; /* Mozilla Firefox için */
            scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0); /* Mozilla Firefox için */
        }

            .scrollbar::-webkit-scrollbar {
                width: 3px; /* Google Chrome ve Safari için */
            }

            .scrollbar::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.5); /* Kaydırma çubuğu rengi */
                border-radius: 3px; /* Kaydırma çubuğu kenar yarıçapı */
            }

            .scrollbar::-webkit-scrollbar-track {
                background-color: rgba(0, 0, 0, 0); /* Kaydırma çubuğu yolunun rengi */
            }


        #selectedAddresses div {
            padding: 5px 0; /* Üst ve alt boşluk */
        }


        .slider-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .slider-btn {
            background-color: #f1f1f1;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        .slider-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
        }

        .text-content {
            flex: 1;
            margin-right: 10px;
        }

        .image-btn {
            padding: 10px 20px;
            cursor: pointer;
        }

        .image-modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.9);
        }

        .close-btn {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
            cursor: pointer;
        }

        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        .custom-control-prev,
        .custom-control-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            background-color: rgba(23, 162, 184, 0.5);
            border-radius: 50%;
        }

        .custom-control-prev {
            left: -75px;
        }

        .custom-control-next {
            right: -75px;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-image: none;
        }

            .carousel-control-prev-icon::after,
            .carousel-control-next-icon::after {
                content: '';
                display: inline-block;
                width: 30px;
                height: 30px;
                background-color: white;
                mask: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23000%27 viewBox=%270 0 8 8%27%3e%3cpath d=%27M4.5 0l-4 4 4 4 1-1-3-3 3-3-1-1z%27/%3e%3c/svg%3e') no-repeat center center / contain;
                -webkit-mask: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23000%27 viewBox=%270 0 8 8%27%3e%3cpath d=%27M4.5 0l-4 4 4 4 1-1-3-3 3-3-1-1z%27/%3e%3c/svg%3e') no-repeat center center / contain;
            }

            .carousel-control-next-icon::after {
                mask: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23000%27 viewBox=%270 0 8 8%27%3e%3cpath d=%27M3.5 0l-1 1 3 3-3 3 1 1 4-4-4-4z%27/%3e%3c/svg%3e') no-repeat center center / contain;
                -webkit-mask: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23000%27 viewBox=%270 0 8 8%27%3e%3cpath d=%27M3.5 0l-1 1 3 3-3 3 1 1 4-4-4-4z%27/%3e%3c/svg%3e') no-repeat center center / contain;
            }







        .thumbnail {
            background-color: #F6F2F2;
            height: 270px;
            overflow: hidden;
            position: relative;
        }

            .thumbnail img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .thumbnail::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3); /* Yarı saydam katman */
                z-index: 1;
            }

            .thumbnail .caption {
                position: absolute;
                bottom: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.5); /* Yarı saydam arka plan */
                color: #fff;
                padding: 5px 10px;
                width: 100%;
                box-sizing: border-box;
                z-index: 2; /* Üst katmanda görünmesi için */
            }

    </style>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body id="home">
    <section class=" w3l-header-4 header-sticky">
        <header id="site-header" class="fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark stroke">
                    <h1>
                        <a class="navbar-brand" href="index.html">
                            <span class="fa fa-map-signs"></span> Go Trip
                        </a>
                    </h1>
                    <!-- if logo is image enable this
                    <a class="navbar-brand" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                        <span class="navbar-toggler-icon fa icon-close fa-times"></span>

                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-lg-5">
                            <li class="nav-item active">
                                <a class="nav-link" href="/UIDefault/Index/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item @@about__active">
                                <a class="nav-link" href="/UIRotation/Index/">Rotation</a>
                            </li>
                            <li class="nav-item @@about__active">
                                <a class="nav-link" href="/UIAbout/Index/">About</a>
                            </li>
                            <li class="nav-item @@contact__active">
                                <a class="nav-link" href="/UIContact/Index/">Contact</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto" id="loginUl" style="margin-left:auto">
                            <div class="btn btn-primary border-light m-auto bg-primary loginButon" style="width:120px; color:#40bad5; position:absolute; right:0">
                                <a href="/Login/Index/" style="color:white; font-weight:700">Login</a>
                            </div>
                        </ul>
                    </div>
                    <!-- toggle switch for light and dark theme -->
                    @* <div class="mobile-position">
                    <label class="theme-selector">
                    <input type="checkbox" id="themeToggle">
                    <i class="gg-moon"></i>
                    <i class="gg-sun"></i>
                    </label>
                    </div> *@
                </nav>
            </div>
        </header>
    </section>
    <script src="~/ui/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/ui/assets/js/bootstrap.min.js"></script>
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <script>
        const bodyElement = document.querySelector('body');
        const themeToggle = document.querySelector('#themeToggle');
        const darkModeMql = window.matchMedia('(prefers-color-scheme: light)');

        const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : userPreference(darkModeMql);

        if (currentTheme) {
            bodyElement.classList.add(currentTheme);

            if (currentTheme === 'dark') {
                themeToggle.checked = true;
            }
        }

        function userPreference(e) {
            if (e.matches) {
                bodyElement.classList.add("dark");
                return "dark"
            } else {
                bodyElement.classList.remove("dark");
                return ""
            }
        }

        darkModeMql.addListener(userPreference);

        function themeSwitcher(e) {
            if (e.target.checked) {
                bodyElement.classList.add('dark');
                localStorage.setItem('theme', 'dark');
            } else {
                bodyElement.classList.remove('dark');
                localStorage.setItem('theme', '');
            }
        }

        themeToggle.addEventListener('change', themeSwitcher);
    </script>

    @RenderBody()

    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5 ">
            <div class="container">
                <div class="grid-col-4 footer-top-29">
                    <div class="footer-list-29 footer-1">
                        <h2 class="footer-title-29">Contact Us</h2>
                        <ul>
                            <li>
                                <p>
                                    <span class="fa fa-map-marker"></span>California, #32841 block,
                                    #221DRS 75 West Rock,
                                    Maple Building, UK.
                                </p>
                            </li>
                            <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(21)-255-999-8888</a></li>
                            <li><a href="mailto:estate-mail@support.com" class="mail"><span class="fa fa-envelope-open-o"></span> Exterior-mail@support.com</a></li>
                        </ul>
                        <div class="main-social-footer-29">
                            <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                            <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                            <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                            <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>
                    <div class="footer-list-29 footer-2">
                        <ul>
                            <h6 class="footer-title-29">Category</h6>
                            <li><a href="#pages">Event Travel</a></li>
                            <li><a href="#pages">Holiday Trip</a></li>
                            <li><a href="#pages">Group Tour</a></li>
                            <li><a href="#pages">Package Holiday</a></li>
                            <li><a href="#pages">Gap Year</a></li>
                        </ul>
                    </div>
                    <div class="footer-list-29 footer-3">
                        <div class="properties">
                            <h6 class="footer-title-29">Latest Gallery</h6>
                            <div class="images-col">
                                <a href="blog-single.html"><img src="~/ui/assets/images/blog1.jpg" class="img-responsive" alt=""></a>
                                <a href="blog-single.html"><img src="~/ui/assets/images/blog2.jpg" class="img-responsive" alt=""></a>
                                <a href="blog-single.html"><img src="~/ui/assets/images/blog3.jpg" class="img-responsive" alt=""></a>
                                <a href="blog-single.html"><img src="~/ui/assets/images/blog4.jpg" class="img-responsive" alt=""></a>
                                <a href="blog-single.html"><img src="~/ui/assets/images/blog5.jpg" class="img-responsive" alt=""></a>
                                <a href="blog-single.html"><img src="~/ui/assets/images/blog6.png" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-list-29 footer-4">
                        <ul>
                            <h6 class="footer-title-29">Travel & Trip</h6>
                            <li><a href="#url">	Bahamas</a></li>
                            <li><a href="#url">	Cambodia</a></li>
                            <li><a href="#url">Dominica</a></li>
                            <li><a href="#url">	Egypt</a></li>
                            <li><a href="#url">Germany</a></li>
                        </ul>
                    </div>
                </div>
                <div class=" bottom-copies text-center">
                    <p class="copy-footer-29">© 2020 Go Trip. All rights reserved | Designed by <a href="//w3layouts.com">W3layouts</a></p>
                </div>
            </div>
        </div>
    </section>
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-chevron-up"></span>
    </button>
    <script>
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var imageUrlsContainer = document.getElementById('imageUrls');
            var imageUrls = Array.from(imageUrlsContainer.children).map(function (child) {
                return child.textContent.trim();
            });

            var imagesTexts = document.querySelectorAll('.images-text');

            imagesTexts.forEach(function (imagesText, index) {
                imagesText.style.backgroundImage = 'url(' + imageUrls[index] + ')';
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#imageModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var imageSrc = button.data('src');
                var modal = $(this);
                modal.find('.modal-body img').attr('src', imageSrc);
            });
        });
    </script>
    <script>
        document.getElementById('hotelForm').addEventListener('submit', function () {
            document.getElementById('hotelList').style.display = 'block';
        });
    </script>
    <script>
        function closeHotelList() {
            document.getElementById('hotelList').style.display = 'none';
            document.getElementById('backgroundOverlay').style.display = 'none';
        }
    </script>
</body>
</html>

