@model CityTravelProject.PresentationLayer.Dtos.RouteDtos.CreateRouteDto
@{
    ViewData["Title"] = "AddRoute";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    <label>Başlık</label>
    <input type="text" asp-for="RouteName" class="form-control" />
    <br />
    <label>Açıklama Giriniz</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Durum</label>
    <input type="text" asp-for="Status" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

