@model List<CityTravelProject.PresentationLayer.Dtos.TravelDestinationsDtos.ResultTravelDestinationsDto>
@{
    int count = 0;
}


<section class="w3l-specification-6" style="background-color:rgb(226 213 213 / 51%);">
    <div class="container">
        <br />
        <br />
        <div class="main-titles-head">
            <h3 class="header-name">
                Türkiye'nin Güzel Yerleri
            </h3>
            <p class="tiltle-para editContent">Türkiye'nin büyüleyici manzaralarına ve eşsiz güzelliklerine bir göz atın.</p>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                if (count < 6)
                {
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="@item.ImageURL" alt="Lights">
                            <div class="caption">
                                <p>@item.Title</p>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                }
                count++;
            }
        </div>
    </div>
</section>