@model CityTravelProject.PresentationLayer.Dtos.CityMapsDtos.UpdateCityMapsDto
@{
    ViewData["Title"] = "UpdateCityMaps";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="CityMapsID" />
    <label>Şehir</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />
    <label>Görüntü</label>
    <input type="text" asp-for="ImageURL" class="form-control" />
    <br />
    <label>Durum</label>
    <input type="text" asp-for="Status" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>
