
<section class="w3l-covers-18">
    <div class="covers-main editContent">
        <div class="container">
            <div class="main-titles-head ">
                <h3 class="header-name">
                    Top Travelling Destinations
                </h3>
                <p class="tiltle-para editContent ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore laboriosam saepe dolores eveniet.</p>
            </div>
            <div class="gallery-image row">
                <div class="col-lg-4 col-md-6">
                    <div class="img-box">
                        <img src="~/ui/assets/images/b2.jpg" alt="product" class="img-responsive ">
                        <h5 class="my-2"><a href="about.html">South Island</a></h5>
                        <div class="blog-date">
                            <p class="pos-date"><span class="fa fa-clock-o mr-1"></span>7 Days</p> <p class="pos-date text-right"><span class="fa fa-users mr-1"></span>Max People : 5</p>
                        </div>
                        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque labor.</p>
                        <div class="top-gap">
                            <h5>from $525</h5>
                            <a href="#url" class="icon text-center"><span class="fa fa-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 top-top2">
                    <div class="img-box">
                        <img src="~/ui/assets/images/b1.jpg" alt="product" class="img-responsive ">
                        <h5 class="my-2"><a href="about.html">New Zealand</a></h5>
                        <div class="blog-date">
                            <p class="pos-date"><span class="fa fa-clock-o mr-1"></span>7 Days</p> <p class="pos-date text-right"><span class="fa fa-users mr-1"></span>Max People : 5</p>
                        </div>
                        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque labor.</p>
                        <div class="top-gap">
                            <h5>from $700</h5>
                            <a href="#url" class="icon text-center"><span class="fa fa-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 top-top">
                    <div class="img-box">
                        <img src="~/ui/assets/images/b3.jpg" alt="product" class="img-responsive ">
                        <h5 class="my-2"><a href="about.html">Bora Bora</a></h5>
                        <div class="blog-date">
                            <p class="pos-date"><span class="fa fa-clock-o mr-1"></span>7 Days</p> <p class="pos-date text-right"><span class="fa fa-users mr-1"></span>Max People : 5</p>
                        </div>
                        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque labor.</p>
                        <div class="top-gap">
                            <h5>from $600</h5>
                            <a href="#url" class="icon text-center"><span class="fa fa-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
