@model CityTravelProject.EntityLayer.Concrete.AppRole
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Yeni Rol Ekleme Sayfası</h1>

<form method="post">
    <label>Rol Adı:</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <button class="btn btn-outline-primary">Rol Ekle</button>
</form>