@model CityTravelProject.EntityLayer.Concrete.AppRole
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>UpdateRole</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Rol Adı:</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <button class="btn btn-outline-primary">Rol Güncelle</button>
</form>