@model CityTravelProject.PresentationLayer.Dtos.FutureDtos.CreateFutureDto
@{
    ViewData["Title"] = "AddFuture";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Title</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Description</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Görüntü</label>
    <input type="text" asp-for="ImageURL" class="form-control" />
    <br />
    <label>Durum</label>
    <input type="text" asp-for="Status" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>
