@model List<CityTravelProject.PresentationLayer.Dtos.CityMapsDtos.ResultCityMapsDto>
<section class="w3l-call-to-action_9">
    <div class="call-w3">
        <div class="container">
            <div class="booking-form-content">
                <div class="main-titles-head ">
                    <h3 class="header-name">
                        Get the Best Holiday Planned by Experts!
                    </h3>
                    <p class="tiltle-para editContent">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore laboriosam saepe dolores eveniet.</p>
                </div>
                <div class="slider-container">
                    <button class="slider-btn" id="prev-btn">&#9664;</button>
                    @foreach(var item in Model)
                    {
                        <div class="slider-content">
                            <div class="text-content" id="text-content">@item.City</div>
                            <button class="image-btn" id="image-btn"></button>
                        </div>
                    }
                    <button class="slider-btn" id="next-btn">&#9654;</button>
                </div>
                <div id="image-modal" class="image-modal">
                    <span class="close-btn" id="close-btn">&times;</span>
                    <img class="modal-content" id="modal-image">
                </div>
            </div>
        </div>
    </div>
</section>