
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<!-- breadcrumbs -->
	<section class="w3l-inner-banner-main">
		<div class="about-inner about editContent">
			<div class="container">
				<div class="breadcrumbs-sub">
					<ul class="breadcrumbs-custom-path">
						<li class="right-side propClone"><a href="index.html" class="editContent">Ana Sayfa <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
						<li class="active editContent">Hakkımızda</li>
					</ul>
				</div>
			</div>

		</div>
	</section>
	<!-- breadcrumbs //-->

	<section class="w3l-content-with-photo-4" id="about">
		<div class="content-with-photo4-block editContent">
			<div class="container">

				<div class="my-bio">
				<img src="https://images.unsplash.com/photo-1589561454226-796a8aa89b05?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="product" class="img-responsive about-me">
					<h3 class="mt-lg-4 mt-3">Biz Kimiz?</h3>
				<p class="para mb-3">Seyahat etmeyi seven bir ekip olarak, şehirlerin en güzel köşelerini keşfetmek ve paylaşmak için buradayız. Şehir içi gezi uygulamamız, size kentin her noktasını adım adım keşfetme ve unutulmaz anılar biriktirme fırsatı sunuyor. Her anı değerli kılan detaylara odaklanıyor, yerel lezzetlerden tarihi zenginliklere kadar şehirlerin sunduğu her şeyi keşfetmenize yardımcı oluyoruz. Bizimle keşfedin, her gezinin bir hikayesi var!</p>
				</div>

			</div>
		</div>
		</div>
	</section>
	<section class="w3l-stats">
		<div class="main-w3 ">
			<div class="container">
				<div class="right-side">
				<h3 class="title-big">Şehrinizi Keşfedin, Anılarınızı Yaratın!</h3>
					<p class="mt-4 para">
					Heyecan verici bir şehir içi maceraya hazır mısınız? Biz, şehrinizin en gizli köşelerini, en lezzetli yemek noktalarını ve en unutulmaz manzaralarını sizin için haritaladık. Şehir içi gezi uygulamamızla, her adımınızda keşfetmeniz için bir hikaye ve bir sürpriz sizi bekliyor. Yerel kültürün tadını çıkarın, sokak sanatının güzelliğine kapılın ve yeni arkadaşlar edinin. Şehrinizin her köşesini sizinle keşfetmek için buradayız. Haydi, birlikte yeni anılar yaratmaya başlayalım!
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="w3l-team-main-6" id="team">
		<div class="team-content-page editContent ">
			<div class="container">
				<div class="row text-center">
					<div class="col-lg-3 col-md-6 col-sm-6 column">
					<a href="#url"><img class="img img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9kI84waYZEgu4u70sYLtfwTFLycdqarAVnQ&s" alt=""></a>
						<h4><a href="#url">Yusuf Keleş</a></h4>
						<div class="w3l-team-7_bottom">
							<div class="w3l-team-7_bottom-left">
								<h6>Founder - Backend Developer</h6>
							</div>
							<ul class="social_7 mt-3">
							<li><a href="#twitter"><i class="bi bi-twitter-x fa-2x"></i></a></li>
							<li><a href="#linkedin"><i class="bi bi-linkedin fa-2x"></i></a></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 column">
					<a href="#url"><img class="img img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5-0MmfL2R-AInXkx4WszIW49wEHP5w6SBqg&s" alt=""></a>
						<h4><a href="#url">Tuğrulhan Terzi</a></h4>
						<div class="w3l-team-7_bottom">
							<div class="w3l-team-7_bottom-left">
								<h6>Founder - Mobile Developer</h6>
							</div>
							<ul class="social_7 mt-3">
							<li><a href="#twitter"><i class="bi bi-twitter-x fa-2x"></i></a></li>
							<li><a href="#twitter"><i class="bi bi-linkedin fa-2x"></i></a></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

