
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

	<!--theme switcher dark and light mode script//-->
	<!-- breadcrumbs -->
	<section class="w3l-inner-banner-main">
		<div class="about-inner contact">
			<div class="breadcrumbs-sub">
				<ul class="breadcrumbs-custom-path">
					<li class="right-side propClone"><a href="index.html" class="editContent">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
					<li class="active editContent">
						Contact
					</li>
				</ul>
			</div>
		</div>
		</div>
	</section>
	<!-- breadcrumbs //-->
	<section class="w3l-contact-info-main" id="contact">
		<div class="contact-sec	editContent">
			<div class="container">
				<div class="map-content-9 mb-5 ">
					<form action="//sendmail.w3layouts.com/submitForm" method="post">
						<div class="twice-two">
							<input type="text" class="form-control" name="w3lName" id="w3lName" placeholder="Name" required="">
							<input type="email" class="form-control" name="w3lSender" id="w3lSender" placeholder="Email" required="">
							<input type="text" class="form-control" name="w3lSubject" id="w3lSubject" placeholder="Subject" required="">
						</div>
						<textarea name="w3lMessage" class="form-control" id="w3lMessage" placeholder="Message" required=""></textarea>

						<div class="text-right">
							<button type="submit" class="btn btn-contact">Send Message</button>
						</div>
					</form>
				</div>

				<div class="d-grid contact-view">

					<div class="cont-details">
						<h3 class="sub-title">Quick Contact</h3>
						<p class="para mt-3 mb-4">Consectetur adipisicing elit.Lorem ipsum dolor sit amet Dignissimos commodi laborum.</p>
						<div class="cont-top">
							<div class="cont-left text-center">
								<span class="fa fa-phone text-secondary"></span>
							</div>
							<div class="cont-right">
								<p class="para"><a href="tel:+44 99 555 42">+123 45 67 89</a></p>
							</div>
						</div>
						<div class="cont-top margin-up">
							<div class="cont-left text-center">
								<span class="fa fa-envelope-o text-secondary"></span>
							</div>
							<div class="cont-right">
								<p class="para"><a href="mailto:example@mail.com" class="mail">example@mail.com</a></p>
							</div>
						</div>
						<div class="cont-top margin-up">
							<div class="cont-left text-center">
								<span class="fa fa-map-marker text-secondary"></span>
							</div>
							<div class="cont-right">
								<p class="para">
									California, #32841 block,
									<br> #221DRS 75 West Rock,
									<br> Maple Building, UK.
								</p>
							</div>
						</div>
					</div>

					<div class="map-iframe ">
						<iframe src="//www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69319292053!2d-0.3817765050863085!3d51.528307984912544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2spl!4v1562654563739!5m2!1sen!2spl" width="100%" height="300" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
					</div>
				</div>

			</div>
		</div>
	</section>
